body {
    text-align: center;
}

ul {
    margin: 0 auto;
}

.list-group {
    max-width: 400px;
}

.list-group-item {
    display: flex
}

.checkbox-label {
    position: relative;
    top: 5px;
    margin-right: 5px;
}

.delete-btn {
    margin-left: auto;
}

.restore-btn {
    margin-left: auto;
}